<div class="row">
  <div class="seven columns">
    <h1>New Landing Page</h1>

    <%= render 'form' %>

    <%= link_to 'Back', landing_pages_path %>
  </div> 
  <div class="columns five">
    <h3>the place for a calendar</h3>
  </div>
</div>

