<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @landing_page_type.name %>
</p>


<%= link_to 'Edit', edit_landing_page_type_path(@landing_page_type) %> |
<%= link_to 'Back', landing_page_types_path %>
