<%= render "layouts/head" %>
<header id="header" class="container">
  <div class="row">
    <div class="columns six">
      <h1><a href="<%= root_path %>">Landing Page of the Day</a></h1>
    </div>
    <div class="Navigation columns six">
      <nav id="head">
        <ul class="right">
          <li><a href="#">Industries</a></li>
          <li><a href="#">Types</a></li>
          <li><a href="#">Landing Pages</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>

<%= render "layouts/foot" %>
</body>
</html>
